@model IEnumerable<Market.Models.Venda>
@{
    Layout = "_LayoutAdmin";
}

<script>
    $(document).ready( function () {
        $('#vendas').DataTable({
            "info": false,
            "language": {
                "lengthMenu": "Mostrando _MENU_ registros por paágina",
                "zeroRecords": "Desculpa, nada encontrado.",
                "info": "Mostrando página _PAGE_ de _PAGE_",
                "infoEmpty": "Nenhum registro disponível.",
                "search": "Buscar",
                "paginate": {
                    "first": "Primeiro",
                    "last": "Último",
                    "next": "Próximo",
                    "previous": "Anterior"
                }
            }
        });
    } );
</script>

<h2>RELATÓRIO DE VENDAS</h2><br>
<hr>

<table id="vendas" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Data</th>
            <th>Total</th>
            <th>Valor Pago</th>
            <th>Troco</th>
        </tr>  
    </thead>
    <tbody>
        @foreach(var venda in Model)
        {
            <tr>
                <td>@venda.Id</td>
                <td>@venda.Data</td>
                <td>@venda.Total</td>
                <td>@venda.ValorPago</td>
                <td>@venda.Troco</td>
            </tr>
        }
    </tbody>
</table>